
extends layout
block content

  h3= title
  form#form_search_book(name="search", method="post", action="/searchbook")
    span ISBN
    span &nbsp;
    input#input_isbn(type="text", placeholder="isbn", autofocus="autofocus", name="isbn", onchange="document.getElementById('input_isbn13').value=document.getElementById('input_isbn').value;")
    button#search_book_button(type="search") search
    br
    br
  form#form_add_book(name="addbook", method="post", action="/addbook")
    input#input_isbn13(type="hidden", name="isbn13")
    span Book Name
    span &nbsp;
    input#input_name(type="text",required=true, placeholder="book name", name="book_name")
    br
    br
    span Author
    span &nbsp;
    input#input_author(type="text", required=true, placeholder="author", name="author")
    br
    br
    span Publisher
    span &nbsp;
    input#input_publisher(type="publisher", required=true, placeholder="publisher", name="publisher")
    br
    br
    span Category
    span &nbsp;
    input#input_category(type="text", required=true, placeholder="category", name="category")
    br
    br
    button#submit_book(type="submit") submit


            
    